<extend name="Public:basePage" />
<block name="left_memu">
	<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
		<li role="presentation">
			<a href="loadSettlingContactPage" target="workflow">可结算合同</a>
		</li>
		<li role="presentation">
			<a href="loadManualContactPage" target="workflow">手动结算合列表</a>
		</li>
		<li role="presentation">
			<a href="loadSettledContactPage" target="workflow">已结算合同</a>
		</li>
		<li role="presentation">
			<a href="loadCommissionBuisnessPage" target="workflow">业务提成表</a>
		</li>
	</ul>
</block>
<block name="content">
	<iframe name="workflow" frameborder="false" width="100%" style="padding-left: 10px" allowtransparency="true" height="900px"></iframe>
</block>
<block name="script">
	<script>
		$(function() {
			$("[li_function='BusinessPercent']").addClass("active");
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		});
	</script>
</block>
