<extend name="Public:basePage" />
<block name="left_memu">
	<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
		<li role="presentation">
			<a href="__CONTROLLER__/CaculateNormalBusiness" target="workflow">基本业绩提成</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/CaculateSpecialBusiness" target="workflow">达标业绩提成</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/CaculateNormalProfit" target="workflow">基本利润提成</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/CaculateSpecialProfit" target="workflow">未达标利润提成</a>
		</li>
		<li role="presentation">
			<a target="workflow">可结算合同</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">已结算提成</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">业务提成表</a>
		</li>
	</ul>
</block>
<block name="content">
	<iframe name="workflow" frameborder="false" width="99%" allowtransparency="true" height="740px"></iframe>
</block>
<block name="script">
	<script>
		$(function() {
			$("[li_function='BusinessPercent']").addClass("active");
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		});
	</script>
</block>
