<script src="__PUBLIC__/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet">

<script type="text/javascript" src="__PUBLIC__/plugins/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/DataTables/dataTables.bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/DataTables/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/DataTables/bootstrap-responsiv.css">

<script type="text/javascript" src="__PUBLIC__/plugins/Validate/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/Validate/jquery.validationEngine.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Validate/validationEngine.jquery.css">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Select2/select2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Select2/select2.bootstrap.css">
<script type="text/javascript" src="__PUBLIC__/plugins/Select2/select2.js"></script>
<style>
	.datatable {
		table-layout: fixed;
		word-break: break-all;
		font-size: 13px;
	}
	.datatable  th {
		text-align: center;
	}
	.datatable  td {
		text-align: center;
	}
	.dataTables_wrapper{
		margin-top:15px;
	}
</style>