<extend name="Public:basePage" />
<block name="left_memu">
	<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
		<li role="presentation">
			<a href="LoadPayrollPage" target="workflow">总工资表</a>
		</li>
		<li role="presentation">
			<a href="LoadShanghaiSalaryPage" target="workflow">上海基本工资表</a>
		</li>
		<li role="presentation">
			<a href="LoadKunshanSalaryPage" target="workflow">昆山基本工资表</a>
		</li>
		<li role="presentation">
			<a href="LoadIncidentalFeePage" target="workflow">费用</a>
		</li>
	</ul>
</block>
<block name="content">
	<iframe name="workflow" frameborder="false" width="100%" allowtransparency="true" height="600px"></iframe>
</block>
<block name="script">
	<script>
		$(function() {
			$("[li_function='CaculateWage']").addClass("active");
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		});
	</script>
</block>
