<extend name="Public:basePage" />
<block name="left_memu">
	<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
		<li role="presentation">
			<a href="searchSettledContact" target="workflow">已结算合同</a>
		</li>
		<li role="presentation">
			<a href="searchCommissionBusiness" target="workflow">业务提成表</a>
		</li>
		<li role="presentation">
			<a href="loadManualSettledContactPage" target="workflow">手动已结算合同</a>
		</li>
		<li role="presentation">
			<a href="loadEditedSettledContactPage" target="workflow">已结算调整比例修改合同</a>
		</li>
		<li role="presentation">
			<a href="searchShanghaiSalary" target="workflow">上海基本工资</a>
		</li>
		<li role="presentation">
			<a href="searchKunshanSalary" target="workflow">昆山基本工资</a>
		</li>
		<li role="presentation">
			<a href="searchIncidentalFee" target="workflow">费用表</a>
		</li>
		<li role="presentation">
			<a href="searchTotalSalary" target="workflow">总工资表</a>
		</li>
		<li role="presentation">
			<a href="searchSalaryDetail" target="workflow">工资表明细表</a>
		</li>
	</ul>
</block>
<block name="content">
	<iframe name="workflow" frameborder="false" width="100%" allowtransparency="true" height="900px"></iframe>
</block>
<block name="script">
	<script>
		$(function(){
			$("[li_function='SearchData']").addClass("active");
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		})
	</script>
</block>
