<html>
	<head>
		<script src="__PUBLIC__/jquery-1.11.1.min.js"></script>
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
		<link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/DataTables/jquery.dataTables.css">
		<script type="text/javascript" src="__PUBLIC__/plugins/DataTables/jquery.dataTables.js"></script>

		<script type="text/javascript" src="__PUBLIC__/plugins/Validate/jquery.validationEngine-en.js"></script>
		<script type="text/javascript" src="__PUBLIC__/plugins/Validate/jquery.validationEngine.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Validate/validationEngine.jquery.css">

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Select2/select2.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/Select2/select2.bootstrap.css">
		<script type="text/javascript" src="__PUBLIC__/plugins/Select2/select2.js"></script>
	</head>
	<body>

		<div class="col-xs-12">
			<div>
				<button class="btn btn-info" data-toggle="modal" data-target="#addNew">
					新增
				</button>
			</div>
			<table id="allPriceFloatRatioTable" class="display" width="100%" cellspacing="0" style="margin-top: 20px">
				<thead>
					<tr>
						<th>库存编码第几位数</th>
						<th>值</th>
						<th>浮动比例</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="all_price_ratio_ratio" id="vo">
						<tr>
							<td id="{$vo.id}_condition">{$vo.condition}</td>
							<td id="{$vo.id}_value">{$vo.value}</td>
							<td id="{$vo.id}_ratio">{$vo.ratio}%</td>
							<td price_float_ratio_id="{$vo.id}"><span style="margin-left: 10px;margin-right: 10px;cursor: pointer;"> <img title="Edit"  alt="编辑" src="__PUBLIC__/img/edit.png" data-toggle="modal" data-target="#edit"> </span>
								<span style="margin-left: 10px;margin-right: 10px;cursor: pointer;"> <img title="Delete" alt="删除" src="__PUBLIC__/img/delete.png"> </span>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">修改</h4>
					</div>
					<form id="edit_form" class="form-horizontal" role="form" action="editPriceFloatRatio" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-4 control-label">货存编码第几位数</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="edit_condition" placeholder="人员编码" disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">值</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="edit_value"  disabled="disabled">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-4 control-label">浮动比例</label>
								<div class="col-sm-6 input-group" style="padding-left: 15px;padding-right: 14px">
									<input type="text" name="edit_ratio" class="form-control validate[required,[custom[number]]" id="edit_ratio">
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<input type="text" id="edit_id" name="edit_id" class="hidden" />
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="取消"/>
							<input type="submit" class="btn btn-primary" value="确定"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">新增</h4>
					</div>
					<form id="add_new_form"  class="form-horizontal" role="form" method="post" action="addPriceFloatRatio">
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-4 control-label">库存编号第几位数</label>
								<div class="col-sm-6">
									<input type="text" class="form-control validate[required]"   name="add_new_salesman_id"  id="add_new_salesman_id" placeholder="人员编码">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">值</label>
								<div class="col-sm-6">
									<input type="text" class="form-control validate[required]" name="add_new_classification" placeholder="货品分类">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">浮动比例</label>
								<div class="col-sm-6 input-group" style="padding-left: 15px;padding-right: 14px">
									<input type="text" class="form-control validate[required,[custom[number]]" name="add_new_ratio" placeholder="在此输入" >
									<span class="input-group-addon">%</span>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="取消"/>
							<input type="submit" class="btn btn-primary" value="确定"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	$(function() {
		$("#allPriceFloatRatioTable").dataTable();
		$("#salesman_list").select2({
			placeholder : "请选择一名员工"
		});
		$("#add_new_form").validationEngine('attach');
		$("#edit_form").validationEngine('attach');
		$("#salesman_list").change(function() {
			var temp_salesman_id = $("#salesman_list").find("option:selected").attr('salesman_id');
			$("#add_new_salesman_id").val(temp_salesman_id);
		});
		$("#allPriceFloatRatioTable tbody").on("click","tr td span img:even",function() {
			var edit_id = $(this).parent().parent().attr('price_float_ratio_id');
			var edit_ratio = $("#"+edit_id+"_ratio").text();
			edit_ratio = edit_ratio.slice(0,-1);
			var edit_condition = $("#"+edit_id+"_condition").text();
			var edit_value = $("#"+edit_id+"_value").text();
			$("#edit_id").val(edit_id);
			$("#edit_condition").val(edit_condition);
			$("#edit_value").val(edit_value);
			$("#edit_ratio").val(edit_ratio);
		});
		
		$("#allPriceFloatRatioTable tbody").on("click","tr td span img:odd",function() {
			var temp = confirm("确认删除该条信息吗？");
			if(temp){
				var delete_id = $(this).parent().parent().attr('price_float_ratio_id');
				$.post("__CONTROLLER__/deleteNormalBusinessRatioById", {
					"delete_id" : delete_id,
				}, function(data) {
					window.location.reload();
				});
			}
		});
	}); 
</script>

