<html>
	<head>
			<include file="Public:commonInclude"/>
	</head>
	<body>

		<div class="col-xs-12">
			<div>
				<form class="form-inline" enctype="multipart/form-data" method="post" action="__MODULE__/Excel/loadPriceFloatExcel">
					<div class="form-group">
						<a><li data-toggle="modal" data-target="#addNew" class="btn btn-info">新增</li></a>
					</div>
					<div class="form-group">
						<input type="file" id="normal_profit_ratio_excel" name="normal_profit_ratio_excel" class="btn btn-info" value="导入Excel文件" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="提交" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-info" id="export_price_float_excel">
							导出
						</button>
					</div>
				</form>
			</div>
			<table id="allPriceFloatRatioTable" class="table table-striped table-bordered table-hover datatable" width="100%" cellspacing="0" style="margin-top: 20px">
				<thead>
					<tr>
						<th>存货类别编码</th>
						<th>存货类别名称</th>
						<th>底价下限</th>
						<th>底价上限</th>
						<th>长度下限</th>
						<th>长度上限</th>
						<th>浮动比例</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="all_price_ratio_ratio" id="vo">
						<tr>
							<td id="{$vo.id}_classification_id">{$vo.classification_id}</td>
							<td id="{$vo.id}_classification_name">{$vo.classification_name}</td>
							<td id="{$vo.id}_low_price">{$vo.low_price}</td>
							<td id="{$vo.id}_high_price">{$vo.high_price}</td>
							<td id="{$vo.id}_low_length">{$vo.low_length}</td>
							<td id="{$vo.id}_high_length">{$vo.high_length}</td>
							<td id="{$vo.id}_ratio">{$vo.ratio}%</td>
							<td price_float_ratio_id="{$vo.id}"><span style="margin-left: 10px;margin-right: 10px;cursor: pointer;"> <img title="Edit"  alt="编辑" src="__PUBLIC__/img/edit.png" data-toggle="modal" data-target="#edit"> </span>
								<span style="margin-left: 10px;margin-right: 10px;cursor: pointer;"> <img title="Delete" alt="删除" src="__PUBLIC__/img/delete.png"> </span>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">修改</h4>
					</div>
					<form id="edit_form" class="form-horizontal" role="form" action="editPriceFloatRatio" method="post">
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-4 control-label">货存类别编码</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_classification_id" id="edit_classification_id" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">货存类别名称</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_name" id="edit_name" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">底价下限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_low_price" id="edit_low_price" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">底价上限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_high_price" id="edit_high_price" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">长度下限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_low_length" id="edit_low_length" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">长度上限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="edit_high_length" id="edit_high_length" >
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-4 control-label">浮动比例</label>
								<div class="col-sm-6 input-group" style="padding-left: 15px;padding-right: 14px">
									<input type="text" name="edit_ratio" class="form-control validate[required,[custom[number]]" id="edit_ratio">
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<input type="text" id="edit_id" name="edit_id" class="hidden" />
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="取消"/>
							<input type="submit" class="btn btn-primary" value="确定"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">新增</h4>
					</div>
					<form id="add_new_form"  class="form-horizontal" role="form" method="post" action="addPriceFloatRatio">
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-4 control-label">货存类别编码</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_classification_id">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">货存类别名称</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_name" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">底价下限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_low_price">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">底价上限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_high_price">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">长度下限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_low_length">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">长度上限</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="add_new_high_length">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-4 control-label">浮动比例</label>
								<div class="col-sm-6 input-group" style="padding-left: 15px;padding-right: 14px">
									<input type="text" name="add_new_ratio" class="form-control validate[required,[custom[number]]">
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="取消"/>
							<input type="submit" class="btn btn-primary" value="确定"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	$(function() {
		$("#allPriceFloatRatioTable").dataTable();
		$("#add_new_form").validationEngine('attach');
		$("#edit_form").validationEngine('attach');
		$("#salesman_list").change(function() {
			var temp_salesman_id = $("#salesman_list").find("option:selected").attr('salesman_id');
			$("#add_new_salesman_id").val(temp_salesman_id);
		});
		$("#allPriceFloatRatioTable tbody").on("click","tr td span img:even",function() {
			var edit_id = $(this).parent().parent().attr('price_float_ratio_id');
			var edit_ratio = $("#"+edit_id+"_ratio").text();
			edit_ratio = edit_ratio.slice(0,-1);
			var edit_classification_id = $("#"+edit_id+"_classification_id").text();
			var edit_name = $("#"+edit_id+"_classification_name").text();
			var edit_low_price = $("#"+edit_id+"_low_price").text();
			var edit_high_price = $("#"+edit_id+"_high_price").text();
			var edit_low_length = $("#"+edit_id+"_low_length").text();
			var edit_high_length = $("#"+edit_id+"_high_length").text();
			$("#edit_id").val(edit_id);
			$("#edit_classification_id").val(edit_classification_id);
			$("#edit_name").val(edit_name);
			$("#edit_low_price").val(edit_low_price);
			$("#edit_high_price").val(edit_high_price);
			$("#edit_low_length").val(edit_low_length);
			$("#edit_high_length").val(edit_high_length);
			$("#edit_ratio").val(edit_ratio);
		});
		
		$("#allPriceFloatRatioTable tbody").on("click","tr td span img:odd",function() {
			var temp = confirm("确认删除该条信息吗？");
			if(temp){
				var delete_id = $(this).parent().parent().attr('price_float_ratio_id');
				$.post("__CONTROLLER__/deletePriceFloatRatio", {
					"delete_id" : delete_id,
				}, function(data) {
					window.location.reload();
				});
			}
		});
		
		$("#export_price_float_excel").click(function(){
			$.post("__MODULE__/Excel/generatePriceFloatRatioExcelFile",{},function(data){
				window.open("__MODULE__/Excel/exportToExcel");
			});
		});
	}); 
</script>

