<html>
	<head>
			<include file="Public:commonInclude"/>
	</head>
	<body>
		<div class="col-xs-12">
			<button class="btn btn-info" data-toggle="modal" data-target="#searchModel">
						复杂搜索
					</button>
			<table id="table" class="table table-striped table-bordered table-hover datatable" width="100%" cellspacing="0" style="margin-top: 20px">
				<thead>
					<tr>
						<th>客户编码</th>
						<th>客户姓名</th>
						<th>上月回款余额</th>
						<th>本月回款余额</th>
						<th>本月回款金额</th>
						<th>本月回笼资金调整</th>
						<th>本月结算金额</th>
						<th>日期</th>
					</tr>
				</thead>
				<tbody>
					<volist name="total_settled_history" id="vo">
						<tr>
							<td>{$vo.customer_id}</td>
							<td>{$vo.customer_name}</td>
							<td>{$vo.last_month_benefit}</td>
							<td>{$vo.benefit}</td>
							<td>{$vo.this_month_funds}</td>
							<td>{$vo.this_month_funds_back}</td>
							<td>{$vo.this_month_settled_money}</td>
							<td>{$vo.date}</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="modal fade" id="searchModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">复杂搜索</h4>
						</div>
						<form class="form-horizontal" role="form" method="post" action="__CONTROLLER__/settledHistorySearch" >
							<div class="modal-body">
								<div class="modal-body">
									<div class="form-group">
										<label class="col-sm-4 control-label">客户编码</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="search_customer_id">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">客户姓名</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="search_customer_name">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">开始日期</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="search_begin_date">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">结束日期</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="search_end_date">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="取消"/>
									<input type="submit" class="btn btn-primary" value="确定"/>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<script>
	$(function() {
		$("#table").dataTable();
	}); 
</script>

