<extend name="Public:basePage" />
<block name="left_memu">
	<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
		<li role="presentation">
			<a href="__CONTROLLER__/loadSettleSummaryPage" target="workflow">汇总结算表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadNormalBusinessPage" target="workflow">基本业绩提成比例表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadSpecialBusinessPage" target="workflow">达标业绩提成比例表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadNormalProfitPage" target="workflow">基本利润提成比例表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadSpecialProfitPage" target="workflow">未达标利润提成比例表</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">资金回笼调整表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadPriceFloatPage" target="workflow">上浮低价调整比例表</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">已结算提成</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">人事工资表</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">业务提成表</a>
		</li>
		<li role="presentation">
			<a href="" target="workflow">杂费表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadSalesmanPage" target="workflow">人员工资基本信息表</a>
		</li>
		<li role="presentation">
			<a href="__CONTROLLER__/loadInsuranceAndFundPage" target="workflow">社保及公积金表</a>
		</li>
	</ul>
</block>
<block name="content">
	<iframe id="workflow" name="workflow" frameborder="false" width="99%" allowtransparency="true" height="600px"></iframe>
</block>
<block name="script">
	<script>
		$(function() {
			$("[li_function='SourceData']").addClass("active");
			
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		});
	</script>
</block>

