<extend name="Public:basePage" />
<block name="left_memu">
	<div class="panel-group " role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 业务表
					&nbsp;<i class="glyphicon glyphicon-plus"></i> 
				</a></h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
						<li role="presentation">
							<a href="__CONTROLLER__/loadSettleSummaryPage" target="workflow">汇总结算表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadNormalBusinessPage" target="workflow">基本业绩提成比例表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadSpecialBusinessPage" target="workflow">达标业绩提成比例表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadNormalProfitPage" target="workflow">基本利润提成比例表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadSpecialProfitPage" target="workflow">未达标利润提成比例表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadFundsBackPage" target="workflow">资金回笼调整表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadPriceFloatPage" target="workflow">上浮低价调整比例表</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> 人事表
					&nbsp;<i class="glyphicon glyphicon-plus"></i> 
				</a></h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
						<li role="presentation">
							<a href="loadHumanWagePage" target="workflow">人事工资表</a>
						</li>
						<li role="presentation">
							<a href="loadIncidentalFeePage" target="workflow">杂费表</a>
						</li>
						<li role="presentation">
							<a href="loadTaxPage" target="workflow">个税基础表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadSalesmanPage" target="workflow">人员工资基本信息表</a>
						</li>
						<li role="presentation">
							<a href="__CONTROLLER__/loadInsuranceAndFundPage" target="workflow">社保及公积金表</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</block>
<block name="content">
	<iframe id="workflow" name="workflow" frameborder="false" width="100%" style="padding-left: 10px" allowtransparency="true" height="600px"></iframe>
</block>
<block name="script">
	<script>
		$(function() {
			$("[li_function='SourceData']").addClass("active");
			$('.collapse').collapse();
			$('#myTab a').click(function() {
				$('#myTab a').parent().removeClass("active");
				$(this).parent().addClass("active");
			});
		});
	</script>
</block>

